
button {
    background-color: #0c0a77;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.center {
   
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 60%;
    border: 5px solid black;
    padding: 100px 25px;
    }
    .header {
        padding: 60px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
      }
      